<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sgi_test_java?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="com.sgi.pojos.Carea"/>
    <mapping class="com.sgi.pojos.Catclasec"/>
    <mapping class="com.sgi.pojos.Catcobertura"/>
    <mapping class="com.sgi.pojos.Catejercicio"/>
    <mapping class="com.sgi.pojos.Catgposoc"/>
    <mapping class="com.sgi.pojos.Catresarea"/>
    <mapping class="com.sgi.pojos.Catsector"/>
    <mapping class="com.sgi.pojos.Catsolpre"/>
    <mapping class="com.sgi.pojos.Cattipeva"/>
    <mapping class="com.sgi.pojos.Cattitular"/>
    <mapping class="com.sgi.pojos.Catue"/>
    <mapping class="com.sgi.pojos.Cdepto"/>
    <mapping class="com.sgi.pojos.Cmodeje"/>
    <mapping class="com.sgi.pojos.Ctipobr"/>
    <mapping class="com.sgi.pojos.Catedosol"/>
    <mapping class="com.sgi.pojos.Ctiploc"/>
    <mapping class="com.sgi.pojos.Catbeneficiario"/>
    <mapping class="com.sgi.pojos.Catmeta"/>
    <mapping class="com.sgi.pojos.Catregion"/>
    <mapping class="com.sgi.pojos.Catrespuesta"/>
    <mapping class="com.sgi.pojos.Catsesion"/>
    <mapping class="com.sgi.pojos.Catsrvpub"/>
    <mapping class="com.sgi.pojos.Cattipofifon"/>
    <mapping class="com.sgi.pojos.Cclaobr"/>
    <mapping class="com.sgi.pojos.Cedoaps"/>
    <mapping class="com.sgi.pojos.Cedoofi"/>
    <mapping class="com.sgi.pojos.Cempresa"/>
    <mapping class="com.sgi.pojos.Cmodadj"/>
    <mapping class="com.sgi.pojos.Cmodadjcontr"/>
    <mapping class="com.sgi.pojos.Ctipaps"/>
    <mapping class="com.sgi.pojos.Ctipobrcontr"/>
    <mapping class="com.sgi.pojos.Ctipofi"/>
    <mapping class="com.sgi.pojos.Ctiprel"/>
    <mapping class="com.sgi.pojos.Catfte2015"/>
    <mapping class="com.sgi.pojos.Ctxtofi"/>
    <mapping class="com.sgi.pojos.Cattipacu"/>
    <mapping class="com.sgi.pojos.Catparpol"/>
    <mapping class="com.sgi.pojos.Catmunicipio"/>
    <mapping class="com.sgi.pojos.Catacuerdo"/>
    <mapping class="com.sgi.pojos.Psolicitud"/>
    <mapping class="com.sgi.pojos.Dsolfte"/>
    <mapping class="com.sgi.pojos.Relsolfte"/>
  </session-factory>
</hibernate-configuration>
