body{
    font-size: 12px;
}
.tablaMapa{
    width: 100%;
}
.tablaMapa .etiqueta{
    width: 15%;
}
.etiqueta{
    text-align: right;
}

.footerTable{
    text-align: left;
}

.cantidadMonetaria{
    text-align: right;
}

.ui-cell-editor{
    text-align: right;
}

